*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "EB Garamond Med";
    src: url("../fonts/EBGaramond-Medium.ttf");
}

@font-face {
    font-family: "EB Garamond Reg";
    src: url("../fonts/EBGaramond-Regular.ttf");
}

@font-face {
    font-family: "Slippery";
    src: url("../fonts/SlipperyTrial-Regular.otf");
}

$EBG-Reg: "EB Garamond Reg";
$EBG-Med: "EB Garamond Med";
$EBG: "EB Garamond";
$font-color: #3C3C31;



html body {
    margin: 0;
    color: #3C3C31;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: 100%;
    transition: 0.3s;
    font-family: "EB Garamond";
    font-weight: 400;
    background: #FAF9F6;
}

html {
    scroll-behavior: smooth;
}

// Cursor style
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    height: 20px;
    width: 20px;
    background: #3C3C31;
    border-radius: 50%;
    display: block;
}


// Transition style
.exit-h1 {
    overflow: hidden;
}

.exit-transition {
    position: fixed;
    background: #3C3C31;
    height: 100vh;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        letter-spacing: -0.1em;
        color: #ffffff;
        padding-right: 10px;
        margin-right: -10px;
        font-family: "EB Garamond";
        font-size: 70px;
        font-weight: 500;
    }

    span {
        display: inline-block;
    }
}

// Home page style
.HomeContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .innercon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 785px;

        // Shuffle image style
        .shuffle {
            width: 287px;
            height: 365px;
        }

        .shuffle-con {
            width: 287px;
            height: 365px;
            position: relative;
            overflow: hidden;

            .block {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0%;
            }

            .stay {
                position: absolute;
                width: 100%;
                height: 100%;
            }


            .b {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646391/shuffle/ikabg_zt9ia1.png") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-1 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646393/shuffle/8DB28B7F-8602-486C-AB14-BD367EB6ED6D_1_tmvohu.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-2 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646398/shuffle/IMG_0344.JPG_tqa67u.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-3 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646403/shuffle/IMG_2431.JPG_rlomgn.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-4 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646396/shuffle/IMG_5969.JPG_1_ryzxsc.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-5 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646399/shuffle/IMG_6027.JPG_te85vg.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-6 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646393/shuffle/The_Boy_With_The_Smear_On_His_Face_ryx9y1.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-7 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646400/shuffle/The_Old_Man_and_The_Cigarette.JPG_qgunfl.webp") 50% 50% no-repeat;
                background-size: cover;
            }

            .b-8 {
                background: url("https://res.cloudinary.com/dcoqt2wpo/image/upload/v1657646391/shuffle/ikabg_zt9ia1.png") 50% 50% no-repeat;
                background-size: cover;
            }
        }

        .name {
            position: relative;
            overflow: hidden;

            h1 {
                font-size: 90px;
                font-family: "EB Garamond";
                font-weight: 400;
                margin: 0;
                margin-top: 20px;
                transform: translateY(100%);

                span {
                    color: #9a6f2d;
                    margin: 0;
                }

            }
        }

        .title {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            margin-top: 10px;
            overflow: hidden;

            h4 {
                font-family: "Slippery";
                font-size: 35px;
                font-weight: 500;
                margin: 0;
                transform: translateY(100%);

            }
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 79px;
            margin-bottom: 10px;
            width: 80%;
            overflow: hidden;

            li {
                list-style: none;
                font-family: "Slippery";
                font-size: 24px;
                font-weight: 500;
                height: 30px;
                cursor: pointer;
                transform: translateY(100%);

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #000;
                    transition: width .5s;
                }

                &:hover::after {
                    width: 100%;
                }

                a {
                    text-decoration: none;
                    // color: #000;
                    color: #3C3C31;
                }
            }
        }
    }
}

// Loader style
.home-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3C3C31;

    .load-words {
        position: relative;
        width: 700px;
        overflow: hidden;
        height: 50px;

        h1 {
            margin: 0 auto;
            position: absolute;
            height: 50px;
            width: 100%;
            text-align: center;
            font-size: 40px;
            font-family: "EB Garamond";
            font-weight: 500;
            transform: translateY(110%);
            color: white;
        }

    }

    .load-bar {
        border: 1px solid white;
        width: 350px;
        height: 20px;
        margin: 20px;
        position: relative;

        .bar {
            position: absolute;
            left: 0;
            background: white;
            width: 0%;
            height: 100%;
            overflow: hidden;
            overflow-x: hidden;
        }
    }

}

// Navbar Mobile Style
.navbar3-mobile {
    display: none;
}

.fullpage-menu {
    display: none;
}


// Desktop navbar style
.navbar3 {

    .inner {
        display: flex;
        flex-direction: row;
        height: 60px;
        width: 90%;
        margin: 0 auto;
    }

    .innerleft {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            text-decoration: none;
            color: #3C3C31;
            cursor: pointer;
            font-family: "EB Garamond";
            font-size: 30px;
            font-weight: 500;
        }
    }

    .innerright {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-between;

        a {


            text-decoration: none;
            color: #3C3C31;
            font-family: "EB Garamond";
            font-size: 22px;
            font-weight: 400;
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #000;
                transition: width .5s;
            }

            &:hover::after {
                width: 100%;
            }


        }
    }
}

// Profile / KInika page style
.profilecon {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .innercon {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }

    .left {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        img {
            width: 80%;
        }

        .left-top {
            margin-bottom: 50px;

            h1 {
                font-size: 64px;
                font-weight: 500;
            }

            p {
                font-size: 14px;
                width: 335px;
            }
        }

        .left-bottom {
            position: relative;

            img {
                max-width: 500px;
            }

            .mix-img {
                position: absolute;
                max-width: 500px;
                left: 0;
                z-index: 1;
                border: 1px solid blue;
                mix-blend-mode: lighten;
                filter: blur(2px);
            }
        }
    }

    .right {
        max-width: 589px;

        h1 {
            font-family: "EB Garamond";
            font-weight: 400;
            font-size: 64px;
            // width: 211px;
            margin: 0;
            margin-bottom: 30px;
        }

        h5 {
            font-family: "Slippery";
            font-weight: 400;
            font-size: 24px;
            width: 100%;
            margin: 0;
            margin-bottom: 32px;
            text-align: justify;
            line-height: 44px;

            span {
                display: none;
            }
        }
    }
}


// Gallery page style
.gallerycon {
    display: flex;
    flex-direction: column;

    .popup {
        position: absolute;
        left: 0;
        bottom: 0;
        background: #FAF9F6;
        height: 0;
        width: 100%;
        z-index: 50;
        display: flex;

        .left-pop {
            width: 40%;
            display: none;
            flex-direction: column;
            justify-content: flex-end;

            button {
                font-size: 16px;
                font-family: "EB Garamond";
                width: 100px;
                cursor: pointer;
                background: none;
                border: none;
                margin-left: 10%;
            }

            .float-btn {
                margin-top: 50px;
            }

            .left-word {
                height: 94%;
                width: 75%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                margin-bottom: 200px;

                .hide {
                    overflow: hidden;

                    a {
                        text-decoration: none;
                        color: $font-color;
                    }
                }

                h1 {
                    font-size: 64px;
                    font-weight: 600;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    max-width: 500px;
                }

                .view-btn {
                    width: 170px;
                    margin-left: 0;
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    img {
                        width: 25%;
                    }
                }
            }

        }

        .right-pop {
            width: 60%;
            display: none;
            justify-content: center;
            position: relative;

            .img-cover {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #FAF9F6;

            }

            .float-btn {
                display: none;
            }
        }
    }

    .pop.show {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
        height: calc(100vh - 60px);
    }

    .galleryinner {
        height: calc(100vh - 60px);
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }


        .gallery-div {
            flex: none;
            display: flex;
            flex-direction: row;
            margin-right: 300px;

            .div-words {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 3%;
                margin-right: 200px;

                h1 {
                    font-family: $EBG;
                    font-size: 64px;
                    font-weight: 600;
                    width: 479px;
                    display: flex;
                    flex-direction: column;
                    text-align: justify;

                    span {
                        margin: 0;
                    }
                }

                h2 {
                    display: none;
                }

                p {
                    font-family: "EB Garamond";
                    font-size: 16px;
                    font-weight: 400;
                    width: 413px;
                }
            }

            .div-imgs {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    margin-right: 120px;
                    transition: all .5s linear;

                    &:hover {
                        filter: blur(2.5px);
                        cursor: pointer;
                    }
                }

                .mr1 {
                    width: 350px;
                }

                .mr2 {
                    width: 450px;
                }
            }
        }


    }
}

// CONTACT STYLES
.contactcon {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .innercontact {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .top {
        height: 90%;
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: flex-end;

        .top-inner {
            height: 100%;
            width: 50%;
            margin-top: 50px;

        }

        .p-class {
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 24px;
            line-height: 40px;


            margin-left: 30%;
            margin-top: 30px;

            p {
                text-indent: 50px;
                width: 357px;
                flex-wrap: wrap;
            }
        }

        .div-h1 {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            h1 {
                font-family: 'EB Garamond';
                font-weight: 500;
                font-size: 96px;
                margin: 0;
            }

            p {
                font-family: 'Slippery';
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 30px;
                margin-left: 20px;
            }
        }

        .div2-h1 {
            h1 {
                font-family: 'EB Garamond';
                font-weight: 500;
                font-size: 96px;
                margin: 0;
                margin-left: 100px;
            }
        }

        .info {
            margin-top: 100px;

            p {
                font-family: 'EB Garamond';
                font-weight: 500;
                font-size: 24px;
                margin-left: 100px;
                margin-bottom: 20px;

                a {
                    color: #000;
                }

                .mail {
                    text-decoration: none;
                }
            }
        }
    }

    .bottom {
        height: 10%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .bot-left {
            height: 100%;
            display: flex;
            align-items: center;

            p {
                font-family: 'EB Garamond';
                font-weight: 400;
                font-size: 16px;

                a {
                    color: #000;
                    margin-left: 10px;
                    margin-right: 10px;

                }
            }
        }

        .bot-right {
            height: 100%;
            display: flex;
            align-items: center;

            p {
                font-family: 'EB Garamond';
                font-weight: 500;
                font-size: 16px;
            }
        }

    }
}


// ARTICLE STYLES
.Articlecon {
    display: flex;
    flex-direction: column;
    height: 100vh;


    .articleinner {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .header {
        margin-top: 50px;

        h1 {
            font-size: 64px;
            font-weight: 600;
            line-height: 77px;
        }
    }

    .middle {
        margin-top: 60px;

        .mid-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: fit-content;
        }

        .link-img {
            width: 48px;
            height: 48px;
            border: 1px solid #3C3C31;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 100%;

            }
        }

        .link-word {
            margin-left: 16px;

            p {
                font-family: "Slippery";
                font-size: 16px;
                color: rgba(115, 115, 125, 1);
                width: 402px;

                span {
                    font-weight: 700;
                }

                a {
                    color: rgba(115, 115, 125, 1);
                }
            }
        }
    }

    .article-content {
        margin-top: 50px;

        .card-con {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        .card1 {
            width: 58%;

            .card1-img {
                img {
                    width: 100%;
                    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
                }
            }

            .card1-word {
                display: flex;
                flex-direction: column;

                h1 {
                    font-family: "Slippery";
                    font-size: 24px;
                    margin-top: 30px;
                    margin-bottom: 14px;
                }

                p {
                    font-family: "Slippery";
                    font-size: 16px;
                    color: #73737D;
                    margin-bottom: 17px;
                }

                span {
                    font-family: "Slippery";
                    font-size: 16px;
                    font-weight: 700;
                    color: rgba(8, 8, 11, 0.15);

                }

                a {
                    margin-top: 20px;
                    text-decoration: none;
                    width: 150px;
                    color: $font-color;
                    cursor: pointer;
                    position: relative;
                    font-family: "Slippery";
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        width: 200px;
                    }

                    img {
                        position: absolute;
                        right: 0;
                        width: 75px;
                    }



                }
            }
        }

        .card2 {
            width: 40.8%;

            .card2-img {

                img {
                    width: 100%;
                    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
                    // height: 280px;
                }
            }

            .card2-word {
                display: flex;
                flex-direction: column;

                h1 {
                    font-family: "Slippery";
                    font-size: 24px;
                    margin-top: 30px;
                    margin-bottom: 14px;
                }

                p {
                    font-family: "Slippery";
                    font-size: 16px;
                    color: #73737D;
                    margin-bottom: 17px;
                }

                span {
                    font-family: "Slippery";
                    font-size: 16px;
                    font-weight: 700;
                    color: rgba(8, 8, 11, 0.15);

                }

                a {
                    margin-top: 20px;
                    text-decoration: none;
                    width: 150px;
                    color: $font-color;
                    cursor: pointer;
                    position: relative;
                    font-family: "Slippery";
                    font-size: 16px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        width: 200px;
                    }

                    img {
                        position: absolute;
                        right: 0;
                        width: 75px;
                    }

                }
            }
        }
    }
}


.footer-bottom {
    height: 10%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .bot-left {
        height: 100%;
        display: flex;
        align-items: center;

        p {
            font-family: 'EB Garamond';
            font-weight: 400;
            font-size: 16px;

            a {
                color: #000;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .bot-right {
        height: 100%;
        display: flex;
        align-items: center;

        p {
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 16px;
        }
    }

}


// Media Queries
@media only screen and (max-width: 800px) {

    // Curso Styles
    .cursor {
        display: none;
    }

    // Transition Styles
    .exit-transition {
        h1 {
            font-size: 15vw;
        }
    }

    // Desktop Navbar Styles
    .navbar3 {
        display: none;
    }

    // Mobile Navbar Styles
    .navbar3-mobile {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 15;
        margin-bottom: 20px;
        background: rgba(250, 249, 246, 0.5);
        backdrop-filter: blur(13px);
        overflow: hidden;



        .wrapper2 {
            height: 70px;
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navtitle {
                a {
                    margin: 0;
                    font-family: $EBG-Reg;
                    font-weight: 400;
                    font-size: 32px;
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        .menu-toggle {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            text-decoration: none;

            .hamburger path {
                fill: none;
                stroke: #000;
                stroke-linecap: round;
            }
        }
    }

    .fullpage-menu {
        display: flex;
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0vh;
        overflow: hidden;
        background: rgba(250, 249, 246, 0.95);

        .fullpage-menu-inner {
            display: none;
            align-items: center;
            width: 100%;
            justify-content: center;
            height: 100vh;
            padding: 100px 60px;
        }


        .title {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 84.09px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .titleinner {
                width: 90%;
                margin: 0 auto;
                overflow: hidden;

                h5 {
                    margin: 0;
                    font-family: "Palagio";
                    font-weight: 400;
                    font-size: 32px;
                    transform: translateY(110%);
                }
            }
        }

        nav {
            position: relative;
            z-index: 1;
            text-align: center;

            ul {
                list-style-type: none;
                margin: 0;
                padding-inline-start: 0;
            }

            li {
                overflow: hidden;
                margin: 0;
                padding: 0;

                +li {
                    margin-top: 30px;
                }

                a {
                    font-size: 11vw;
                    text-decoration: none;
                    font-family: $EBG-Med;
                    color: $font-color;
                    overflow: hidden;
                    display: inline-block;
                    transform: translateY(110%);

                    span {
                        position: relative;
                        margin: 0;
                        padding: 0;
                    }
                }

                &:hover {
                    a span {
                        &::before {
                            height: 100%;
                        }
                    }
                }
            }
        }

    }


    // Loader Styles
    .home-loader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #3C3C31;

        .load-words {
            position: relative;
            width: 90%;
            overflow: hidden;
            height: 50px;

            h1 {
                margin: 0 auto;
                position: absolute;
                height: 30px;
                width: 100%;
                text-align: center;
                font-size: 6vw;
                font-family: "EB Garamond";
                font-weight: 500;
                transform: translateY(150%);
                color: white;
            }

        }

        .load-bar {
            border: 1px solid white;
            width: 85%;
            height: 20px;
            margin: 20px;
            position: relative;

            .bar {
                position: absolute;
                left: 0;
                background: white;
                width: 0%;
                height: 100%;
                overflow: hidden;
                overflow-x: hidden;
            }
        }

    }

    // Hompage Styles
    .HomeContainer {
        width: 100%;

        .innercon {
            width: 100%;

            .shuffle-con {
                width: 187px;
                height: 265px;

            }

            .name {
                h1 {
                    font-size: 10vw;
                }

            }

            .title {
                h4 {
                    font-size: 5vw;
                }
            }

            .links {
                li {
                    font-size: 4vw;

                }
            }
        }
    }

    .profilecon {
        display: flex;
        height: 100%;


        .innercon {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
        }

        .left {
            margin-top: 30px;
            margin-bottom: 35px;
            width: 100%;
            height: 100%;


            .left-top {
                margin-bottom: 50px;

                h1 {
                    font-size: 11vw;
                    font-weight: 500;
                }

                p {
                    font-size: 3.5vw;
                    width: 335px;
                }
            }

            .left-bottom {
                width: 100%;
                display: flex;


                img {
                    margin: 0 auto;
                    width: 100%;
                }

                .mix-img {
                    display: none;
                }
            }
        }

        .right {

            h5 {
                font-family: "Slippery";
                font-weight: 400;
                font-size: 24px;
                width: 100%;
                margin: 0;
                margin-bottom: 32px;
                text-align: left;
                line-height: 44px;

                span {
                    display: none;
                }
            }
        }
    }


    // GAllery Styles
    .gallerycon {
        display: flex;
        flex-direction: column;
        height: 100%;

        .popup {
            position: fixed;

            bottom: 0;
            background: #FAF9F6;
            height: 0;
            width: 100%;
            z-index: 50;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;

            .left-pop {
                width: 100%;
                margin-top: 0;
                margin-bottom: 90px;


                .float-btn {
                    display: none;
                }

                button {
                    font-size: 16px;
                    font-family: "EB Garamond";
                    width: 100px;
                    cursor: pointer;
                    background: none;
                    border: none;
                    margin-left: 10%;
                }

                .left-word {
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;

                    .hide {
                        overflow: hidden;
                        color: $font-color;
                    }



                    h1 {
                        font-size: 32px;
                        font-weight: 600;
                        margin-top: 0;
                        width: 95%;
                        margin: 0 auto;
                        margin-top: 0px;
                        margin-bottom: 16px;
                    }

                    p {
                        line-height: 25px;
                        width: 95%;
                        margin: 0 auto;
                    }

                    .view-btn {
                        margin-top: 10px;
                        display: flex;
                        margin-left: 3%;
                        color: $font-color;

                        img {
                            width: 30%;
                        }
                    }
                }
            }

            .right-pop {
                width: 100%;
                height: 60vh;
                position: relative;

                .float-btn {
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin-top: 46px;
                    margin-left: 25px;
                    background: none;
                    color: white;
                    border: none;
                    font-size: 16px;
                    align-items: center;
                    justify-content: space-between;
                    width: 70px;


                    span {
                        width: 25px;
                        display: flex;

                        .svgg {
                            fill: white;
                            transform: scaleX(-1);
                        }
                    }
                }


                .img-cover {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #FAF9F6;

                }

                img {
                    width: 100%;
                    object-fit: cover;
                }

            }
        }


        .galleryinner {
            margin-top: 80px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .divider {
                border-bottom: 1px solid $font-color;
                width: 90%;
                margin: 0 auto;
                margin-top: 60px;
                margin-bottom: 60px;

            }

            .gallery-div {
                flex: auto;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 0px;


                .div-words {

                    width: 90%;

                    margin-left: 3%;
                    margin-right: 0px;
                    margin: 0 auto;
                    margin-bottom: 30px;

                    h1 {
                        display: none;
                    }

                    h2 {
                        font-family: $EBG;
                        font-size: 32px;
                        font-weight: 600;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 14px;

                    }

                    p {
                        font-size: 16px;
                        width: 100%;
                        line-height: 30px;
                        vertical-align: auto;
                    }
                }

                .div-imgs {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    img {
                        margin-right: 0px;
                    }

                    .mr1 {
                        width: 70%;
                        margin-bottom: 20px;
                    }

                    .mr2 {
                        width: 80%;
                        margin-bottom: 20px;
                    }

                    .mr3 {
                        width: 70%;
                        margin-bottom: 20px;
                    }

                    .mr4 {
                        width: 80%;
                        margin-bottom: 20px;
                    }

                }
            }


        }
    }


    // Contact Styles
    .contactcon {
        height: 100%;
        width: 100%;

        .top {

            .top-inner {
                width: 100%;
                margin-top: 80px;

            }

            .p-class {
                display: flex;
                justify-content: flex-end;

                p {
                    font-size: 16px;
                    text-indent: 35px;
                    width: 243px;
                    flex-wrap: wrap;
                }
            }

            .div-h1 {
                align-items: baseline;

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                }
            }

            .div2-h1 {
                h1 {
                    font-size: 40px;
                    margin-left: 48px;
                }
            }

            .info {

                p {
                    margin-left: 0px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;

                    a {
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        .bottom {
            align-items: flex-end;
            margin-top: 50px;
            margin-bottom: 25px;

            .bot-left {

                p {
                    display: flex;
                    flex-direction: column;

                    a {
                        margin-left: 0px;
                        margin-top: 15px;
                    }

                    span {
                        display: none;
                    }
                }
            }

        }
    }



    // Article Styles
    .Articlecon {
        height: 100%;


        .articleinner {
            margin-top: 40px;
        }

        .header {
            margin-top: 50px;

            h1 {
                font-size: 32px;
                width: 278px;
                line-height: 38px;
            }
        }

        .middle {
            margin-top: 60px;

            .mid-link {
                justify-content: space-between;
            }

            .link-word {
                width: 85%;
                margin-left: 0px;

                p {
                    width: 100%;
                }
            }
        }

        .article-content {
            margin-top: 50px;

            .card-con {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 50px;
            }

            .card1 {

                width: 100%;

                margin-bottom: 50px;

                .card1-img {
                    height: 280px;

                    img {
                        height: 280px;
                        object-fit: cover;
                    }
                }

                .card1-word {

                    a {
                        width: 180px;
                        color: $font-color;

                        img {
                            width: 50px;
                        }

                    }
                }

            }

            .card2 {
                width: 100%;
                margin-bottom: 50px;

                .card2-img {
                    height: 280px;

                    img {
                        height: 280px;
                        object-fit: cover;
                    }
                }

                .card2-word {

                    a {
                        width: 180px;
                        color: $font-color;

                        img {
                            width: 50px;
                        }

                    }
                }

            }
        }
    }

}